[Desktop Entry]
Charset=
Hidden=false
Keys=Foro,foro
Name=LliureX Forum
Name[es]=Foro LliureX
Name[ca]=Foro LliureX
Name[ca@valencia]=Foro LliureX
Name[en_GB]=LliureX Forum
Name[x-test]=xxLliureXxx
Query=http://mestreacasa.gva.es/web/lliurex/forums?p_p_id=19&p_p_action=0&p_p_state=maximized&p_p_mode=view&p_p_col_id=column-1&p_p_col_pos=1&p_p_col_count=2&_19_struts_action=%2Fmessage_boards%2Fsearch&_19_redirect=%2Fweb%2Flliurex%2Fforums&_19_breadcrumbsCategoryId=0&_19_searchCategoryIds=0&_19_keywords=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
