[Desktop Entry]
Name=LliureX-Desktop

X-KDE-PluginInfo-Name=LliureX-Sunset
X-KDE-PluginInfo-Author=Hector Garcia Huerta
X-KDE-PluginInfo-Email=hectorgh@gmail.com