[Desktop Entry]
Comment=Lliurex default layout
Name=LliureX
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=net.lliurex.default
X-KDE-PluginInfo-Version=0.3
X-KDE-ServiceTypes=Plasma/LookAndFeel
