[Desktop Entry]
Name=LliureX-Musica

X-KDE-PluginInfo-Name=LliureX-Musica
X-KDE-PluginInfo-Author=Pablo Bruseta
X-KDE-PluginInfo-License=CC-BY-SA-4.0
