[Desktop Entry]
Name=LliureX-Musica

X-KDE-PluginInfo-Name=LliureX-Musica
X-KDE-PluginInfo-Author=Enrique Medina Gremaldos
X-KDE-PluginInfo-Email=quiqueiii@gmail.com