[Desktop Entry]
Name=LliureX-Desktop

X-KDE-PluginInfo-Name=LliureX-Desktop
X-KDE-PluginInfo-Author=Enrique Medina Gremaldos
X-KDE-PluginInfo-Email=quiqueiii@gmail.com