[Desktop Entry]
Name=LliureX-Infantil

X-KDE-PluginInfo-Name=LliureX-Infantil
X-KDE-PluginInfo-Author=Enrique Medina Gremaldos
X-KDE-PluginInfo-Email=quiqueiii@gmail.com