[Desktop Entry]
Name=LliureX-Infantil

X-KDE-PluginInfo-Name=LliureX-Infantil
X-KDE-PluginInfo-Author=Pablo Broseta
X-KDE-PluginInfo-License=CC-BY-SA-4.0
