Source: lliurex-artwork
Section: x11
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper-compat (= 13), librsvg2-bin, imagemagick-6.q16, gettext, make
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: lliurex-desktop-icon-theme
Architecture: all
Section: x11
Description: LliureX 25 icon theme
 LliureX 25 icon theme based on Breeze

Package: lliurex-desktop-color-scheme
Architecture: all
Section: x11
Description: LliureX 25 color scheme
 LliureX 25 default KDE color scheme

Package: lliurex-desktop-plasma-look-and-feel
Architecture: all
Section: x11
Depends: qml6-module-lliurex-ui, qml6-module-edupals-base, kf6-coreaddons
Description: LliureX 25 plasma look and feel theme
 LliureX 25 default KDE Plasma look and feel theme

Package: lliurex-desktop-plasma-theme
Architecture: all
Section: x11
Description: LliureX 25 plasma theme
 LliureX 25 default KDE Plasma theme

Package: lliurex-desktop-defaults
Architecture: all
Conflicts: neon-adwaita
Depends: lliurex-desktop-color-scheme, lliurex-desktop-icon-theme, lliurex-desktop-plasma-look-and-feel, lliurex-desktop-plasma-theme, lliurex-sddm-theme, lliurex-plymouth-theme, plasma-applet-places-widget, qml6-module-lliurex-ui
Section: x11
Description: LliureX 25 xdg defaults
 LliureX 25 xdg scripts
