[Desktop Entry]
Name=LliureX Escriptori

X-KDE-PluginInfo-Name=lliurex-escriptori
X-KDE-PluginInfo-Author=Pablo Broseta
X-KDE-PluginInfo-License=CC-BY-SA-4.0
